.controls {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-item {
    display: flex;
    align-items: center;
}

.control-input {
    outline: none;
    width: 50px;
    text-align: center;
    border-radius: 44px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
}

.control-input:hover,
.control-input:focus {
    border-color: #0076ff;
    transition: all 0.3s ease;
}
.control-input:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.control-label {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.switch-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 31px;
}

.switch-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaf0f5;
    transition: 0.5s;
    border-radius: 44px;
}

.switch-slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.5s;
    border-radius: 50%;
}

.switch-label input:checked + .switch-slider {
    background-color: #0076ff;
}

.switch-label input:checked + .switch-slider::before {
    transform: translateX(18px);
}

.switch-label:hover .switch-slider {
    background-color: #d0e4fb;
}

.switch-label:active .switch-slider::before {
    transform: scale(0.95);
}
.switch-slider,
.switch-slider::before {
    transition: all 0.3s ease;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.rotating {
    animation: rotate 2s linear infinite;
    transform-origin: center;
}

.progress-svg {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.progress-svg.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}
